<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checker Board</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <style>
    .color1 {
    width: 80px;
    height: 80px;
background-color: {{ clr }}
}

.color2 {
    width: 80px;
    height: 80px;
    background-color: {{ clr2 }}
}

    </style>
</head>
<body>
    <h1>CheckerBoard!!!</h1>
    <div id="container">
        <table>
        {% for x in range(0,num): %}
            <tr>
                {% for y in range(0,num1): %}
                <td class="color{{ (x+y)%2+1 }}"
                ></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>

</body>
</html>

